.join-button {
  background-color: #1762A7;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  border: none;
}

.join-button:hover {
  background-color: #2180d8;
}


.big {
  width: 98%;
  padding: 1.5%;
  height: auto;
  font-size: medium;
  border-radius: 5px;
  border: none;
  margin-bottom: 1vh; 
  margin-top: 1vh;
}

.small {
  width: 130px;
  height: 50px;
}

