
main {
    display: flex;
    align-items: center;
    width: 100%;
height: auto;
}

section {
    display: flex;
    min-width: 50%;
}

h1 .spanJoin {
    color: #bc3a80;
}

h1 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

