.bodyhome {
    background-color: #2F303A;
    align-items: center; 
    margin-top: 10%;
    display: flex;
    justify-content: center;
    text-align: center; 
    position: relative;
    overflow: hidden;
}

    



.photogirl {
    width: 400px; 
    height: auto;
    position: relative; 
    z-index: 1;
}

.bodytext {
   color: white;
   text-align: left;
    
}
    
 .circle1{
    height: 325px;
    width: 325px;
    border-radius: 50%;
    background-color:#3457b21a;
    top: 0%;
    position: absolute;
    left: 40%;
 
}   

.circle2 {
    height: 325px;
    width: 325px;
    border-radius: 50%;
    background-color: #bc3a801a;
    display: flex-box;
    left: 16%;
    position: absolute;
  
}

.circle3 {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color:#3457b21a;
    display: flex-box;
    transform: translateX(50%, 50%);
    position: absolute;
    right: -10%;
    bottom: -30%;
    
}